langgraph
langchain
langchain-core
langchain-anthropic
langchain-openai
langchain-google-genai
langchain-groq
langchain-community
tavily-python
python-dotenv
pydantic
langgraph-checkpoint-sqlite
psycopg[binary]
langgraph-checkpoint-postgres
sentence-transformers